<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
  <template>
    <style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

      :host {
        display: block;
      }
    </style>
    <div class="container">
        <div class="row">
            <h1 class="col-lg-12">Gestor de clientes</h1>
            <img style="width: 100px;" src="https://www.flaticon.com/premium-icon/icons/svg/2024/2024290.svg" alt="">
        </div>

        <div class="row">
            <button on-click="obtenerClientes" type="button" name="button" class="btn btn-success">Obtener clientes</button>
        </div>

        <div class="row">
            <div>
                <table class="table table-hover">
                    <tbody>
                        <template is="dom-repeat" items="{{clientes}}">
                            <tr>
                                <td>[[item.CustomerID]]</td>
                                <td>[[item.ContactName]]</td>
                                <td>[[item.CompanyName]]</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorClientes extends Polymer.Element {
      static get is() { return 'gestor-clientes'; }
      static get properties() {
        return {
          clientes: {
            type: Array,
            notify: true
          }
        };
      }
        obtenerClientes() {
            var request = new XMLHttpRequest();
            request.open("GET", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers", false);
            request.setRequestHeader("Accept", "application/json");
            request.send()

            this.clientes = JSON.parse(request.responseText).value;
            console.log(this.clientes);
        }
    }

    window.customElements.define(GestorClientes.is, GestorClientes);
  </script>
</dom-module>
